@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

.container {
    text-align: center;
    border: 5px solid white;
    background-color:white;
    color: black;
    font-family:Lucida Console, Courier, Monotype; 
    padding-bottom: 80px;
    padding-top: 80px;
    width: 40%;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    background: url('../assets/euro.png'); 
    background-size: 470px 380px;
    background-repeat: no-repeat;
    
   
}


body {
    background-color: #121212;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    
    background: url('../assets/cartooneuromap.png') no-repeat center center fixed; 
    background-size: 1205px 565px;
    height: 100%;
    overflow: hidden;
  
  }