@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");


#root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.image-container {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 40px;
  right: 0;
  text-align: center;
}

.image {
  width: auto;
  height: 100%;
  display: block;
  margin: auto;
}

.container {
    z-index: 2;
    width: 35vw;
    text-align: center;
    border: 5px solid white;
    background-color: white;
    color: black;
    font-family: "Montserrat", sans-serif;
    background: url('../assets/euro.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 470px 470px;
    background-repeat: no-repeat;
    padding-top:120px;
    padding-bottom:30px;
    overflow: hidden;
}
.boat {
  animation: boatAnimation 25s;
  width:30px; 
  height: auto;
  animation-iteration-count: infinite;
  position: absolute;
  top: 40px;
  /* left: 20%; */
}

body {
  background-color: white;
  color: white;
  font-family: Arial;
  text-align: center;
  height: 100%;
  

}

@keyframes boatAnimation{
  50% {
    transform: translate(0, calc(100vh - 120px));
  }
} 

/*
  @keyframes boatAnimation{
    50% {
      transform: translate(20px, 20px);
    }
    50% {
      transform: translate(50px, 20px);
    }
    50% {
      transform: translate(100px, 20px);
    }
    50% {
      transform: translate(50px, 20px);
    }
    50% {
      transform: translate(-20px, -90px);
    }
    50% {
      transform: translate(40px, -460px);
    }
  } 
  */
