@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

.container {
    text-align: center;
    border: 5px solid white;
    background-color: white;
    color: black;
    font-family: "Montserrat", sans-serif;
    background: url('../assets/euro.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 470px 470px;
    background-repeat: no-repeat;
    /* padding-top: 105px; */
    width: 30%;
    position: fixed;
    padding-top:120px;
    padding-bottom:30px;
    
    
    margin: 10% auto;
    position: relative;
    overflow: hidden;
}
.boat{
    float: left;
    animation: boatAnimation 18s;
    width:30px; 
    height: auto;
    animation-iteration-count: infinite;
    position: sticky; top: 0px;
    
    
}


body {
    background-color: #121212;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    background: url('../assets/cartooneuromap.png') no-repeat center center fixed; 
    background-size: 1200px 555px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* display: flex; */
    justify-content: center;
  
  }

  @keyframes boatAnimation{
    50% {
      transform: translate(20px, 20px);
    }
    50% {
        transform: translate(50px, 20px);
      }
      50% {
        transform: translate(100px, 20px);
      }
      50% {
        transform: translate(50px, 20px);
      }
      50% {
        transform: translate(-20px, -90px);
      }
      50% {
        transform: translate(40px, -450px);
      }
  }
  
