@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");




/* #root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
} */

.btn{
  background-color:#0099CC; 
  font-size: 10px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  

  
}
.btn:hover{
  background:#6EB4D1;
  border-color:#6EB4D1;
  border-radius: 5px;
  color:white;
}

.help{
  cursor:pointer;
}

.len{
  position: absolute; 
  top: 20%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.top-button{
  background-color:#0099CC;
  border-color: #0099CC;
  font-size: 10px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  cursor:pointer;
  
}
.top-button:hover{
  background:#6EB4D1;
  border-color:#6EB4D1;
  border-radius: 5px;
  color:white;
}
.qs{
  font-family: "Montserrat", sans-serif;
  

}


.container {
    text-align: center;
    border: 5px solid white;
    background-color: white;
    color: black;
    font-family: "Montserrat", sans-serif;
    background: url('../assets/e.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 470px 470px;
    background-repeat: no-repeat;
    /* padding-top: 105px; */
    width: 30%;
    position: fixed;
    display: block; 
    padding-top:70px;
    
    color: black;
    text-shadow: 2px 2px 4px white;
    margin: 10% auto;
    position: relative;
    overflow: hidden;
    
}
.boat{
    float: left;
    animation: boatAnimation 30s;
    width:30px; 
    height: auto;
    animation-iteration-count: infinite;
    cursor:pointer;
      
}
.abbaBaby{
  cursor:pointer;
}

.gremlin{
  float: right;
  cursor:pointer;
}
.shark{
  animation-iteration-count: infinite;
  animation: sharkAnimation 48s;
  width:30px; 
  height: auto;
  cursor:pointer;
  
}


body {
    background-color: #121212;
    color: white;
    padding: 50px;
    font-family: Arial;
    text-align: center;
    background: url('../assets/cartooneuromap.png') no-repeat center center fixed; 
    background-size: 1200px 555px;
    height: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    /* display: flex; */
    justify-content: center;
    font-family: "Montserrat", sans-serif;
     
  
}

  

  @keyframes boatAnimation{
    
    
    50% {
      transform: translate(0px, -410px) 
    
    }
    
  }

  @keyframes sharkAnimation{
    
    
    60% {
      transform: translate(10px, 0px) 
    
    }
    40% {
      transform: translate(-500px, 0px) 
    
    }
    
    
  }

        
  
